SMS2Web/SMS2Web/bin/
SMS2Web/SMS2Web/obj/
SMSReciever/MessageSender/bin/
SMSReciever/MessageSender/obj/
SMSReciever/SMSdisplayer/bin/
SMSReciever/SMSdisplayer/obj/
SMSReciever/SMSReciever/bin/
SMSReciever/SMSReciever/obj/
SMSReciever/.vs/
